.add-item {
  color: #fff;
  font-weight: bolder; }

.dashboard {
  position: relative;
  background-color: #4b0; }
  .dashboard .sidebar {
    min-height: 100vh;
    float: left;
    position: relative;
    width: 220px;
    background-color: #222; }
    .dashboard .sidebar .header {
      background-color: #222;
      text-align: center;
      padding-top: 20px; }
      .dashboard .sidebar .header .logo {
        height: 75px;
        width: 75px;
        margin: 0 auto;
        background-size: contain;
        background-position: 50% 50%; }
      .dashboard .sidebar .header .site-name {
        text-transform: uppercase;
        color: #ccc;
        font-weight: bolder;
        margin: 20px 0 0 0;
        display: block; }
      .dashboard .sidebar .header .profile {
        height: 50px;
        text-align: center; }
        .dashboard .sidebar .header .profile .dropdown .profile-name {
          color: #777; }
        .dashboard .sidebar .header .profile .dropdown .profile-name:hover {
          color: #fece06;
          text-decoration: none; }
    .dashboard .sidebar .create {
      position: relative;
      display: table;
      height: 50px;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #ddd;
      margin-left: 20px; }
      .dashboard .sidebar .create span {
        display: table-cell;
        padding-left: 25px;
        vertical-align: middle; }
      .dashboard .sidebar .create a {
        position: absolute;
        top: 2px;
        display: table-cell;
        font-size: 30px;
        font-weight: 900;
        vertical-align: middle; }
      .dashboard .sidebar .create a:hover {
        text-decoration: none;
        color: #fece06; }
    .dashboard .sidebar .list .apiary {
      padding-left: 30px;
      color: #aaa;
      height: 30px;
      cursor: pointer; }
    .dashboard .sidebar .list .apiary:before {
      content: '';
      background-color: #fece06;
      width: 5px;
      height: 5px;
      display: inline-block;
      margin-right: 10px; }
    .dashboard .sidebar .list .apiary:hover {
      color: #222;
      background-color: #fece06; }
    .dashboard .sidebar .list .active {
      color: #222;
      background-color: #fece06; }
    .dashboard .sidebar .apiary-info {
      width: 220px;
      height: 220px;
      background-color: #222;
      bottom: 0;
      position: fixed; }
      .dashboard .sidebar .apiary-info .title {
        position: relative;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ddd;
        margin-left: 20px; }
      .dashboard .sidebar .apiary-info .field {
        font-size: 13px;
        padding-left: 25px;
        color: #aaa;
        margin-top: 5px; }
        .dashboard .sidebar .apiary-info .field span {
          margin-left: 5px; }
      .dashboard .sidebar .apiary-info .options {
        margin-top: 10px;
        padding-left: 25px; }
        .dashboard .sidebar .apiary-info .options .option {
          font-size: 12px;
          cursor: pointer;
          color: #aaa;
          margin-right: 5px; }
        .dashboard .sidebar .apiary-info .options .option:hover {
          color: #fece06;
          text-decoration: none; }
  .dashboard .content {
    float: left;
    height: 100%;
    width: calc(100% - 220px); }
    .dashboard .content .beehives-container {
      padding-top: 37px;
      width: 100%; }
      .dashboard .content .beehives-container .beehive {
        position: relative;
        height: 35px;
        width: 60.62px;
        float: left;
        margin-top: 18px; }
        .dashboard .content .beehives-container .beehive a {
          cursor: pointer;
          display: block;
          width: 100%;
          height: 100%; }
          .dashboard .content .beehives-container .beehive a svg {
            position: absolute;
            top: -18px; }
            .dashboard .content .beehives-container .beehive a svg polygon:hover {
              fill: #fece06; }
      .dashboard .content .beehives-container .first {
        margin-left: 30px; }
      .dashboard .content .beehives-container .even {
        height: 73px; }
        .dashboard .content .beehives-container .even .beehive {
          position: relative;
          width: 130px;
          height: 73px;
          background-color: red;
          float: left; }
          .dashboard .content .beehives-container .even .beehive a {
            margin-top: 50px;
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%; }
            .dashboard .content .beehives-container .even .beehive a img {
              position: absolute;
              top: -37px;
              width: 130px;
              height: 150px; }
      .dashboard .content .beehives-container .odd {
        height: 73px;
        margin-top: 37px;
        margin-left: 65px; }
        .dashboard .content .beehives-container .odd .beehive {
          position: relative;
          width: 130px;
          height: 73px;
          background-color: red;
          float: left; }
          .dashboard .content .beehives-container .odd .beehive a {
            margin-top: 50px;
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%; }
            .dashboard .content .beehives-container .odd .beehive a img {
              position: absolute;
              top: -37px;
              width: 130px;
              height: 150px; }
    .dashboard .content .info-panel {
      width: 100%;
      height: 220px;
      background-color: rgba(255, 255, 255, 0.5);
      bottom: 0;
      position: fixed; }
      .dashboard .content .info-panel .create-beehive {
        position: relative;
        display: table;
        height: 50px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #222;
        margin-left: 20px; }
        .dashboard .content .info-panel .create-beehive span {
          display: table-cell;
          padding-left: 25px; }
        .dashboard .content .info-panel .create-beehive a {
          color: #777;
          position: absolute;
          top: -15px;
          display: table-cell;
          font-size: 30px;
          font-weight: 900;
          vertical-align: middle; }
        .dashboard .content .info-panel .create-beehive a:hover {
          text-decoration: none;
          color: #fece06; }
      .dashboard .content .info-panel .beehive-info {
        margin-left: 20px; }
        .dashboard .content .info-panel .beehive-info .field-display .field-label {
          display: inline-block; }
        .dashboard .content .info-panel .beehive-info .field-display .field-info {
          display: inline-block; }
  .dashboard .control-panel {
    background-color: #4bb;
    width: 200px;
    float: right; }

/*# sourceMappingURL=app.css.map */
