// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//variables
$activeColor: #fece06;
$backgroundColor: #222;
$firstGreyShade: #aaa;
$secondGreyShade: #ddd;

//general styles
.add-item {
	color: #fff;
	font-weight: bolder;
}

.link {
	font-size: 12px;
	cursor: pointer;
	color: $firstGreyShade;
	i {
		margin-right: 2px;
	}
}
.link:hover {
	color: $activeColor;
	text-decoration: none;
}

//tree
.dashboard {
	position: relative;
	background-color: #4b0;
	.sidebar {
		min-height: 100vh;
		float: left;
		position: relative;
		width: 220px;
		background-color: #222;
		.header {
			background-color: #222;
			text-align: center;
			padding-top: 20px;
			.logo {
				height: 75px;
				width: 75px;
				margin: 0 auto;
				background-size: contain;
				background-position: 50% 50% 
			}
			.site-name {
				text-transform: uppercase;
				color: #ccc;
				font-weight: bolder;
				margin: 20px 0 0 0;
				display: block;
			}
			.profile {
				height: 50px;
				text-align: center;
				.dropdown {
					.profile-name {
						color: #777;
					}
					.profile-name:hover {
						color: $activeColor;
						text-decoration: none;
					}
				}
			}
		}
		.create {
			position: relative;
			display: table;
			height: 50px;
			font-size: 13px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;	
			color: $secondGreyShade;
			margin-left: 20px;
			span {
				display: table-cell;
				padding-left: 25px;
				vertical-align: middle;
			}
			a {
				position: absolute;
				top: 2px;
				display: table-cell;
				font-size: 30px;
				font-weight: 900;
				vertical-align: middle;
			}
			a:hover {
				text-decoration: none;
				color: $activeColor;
			}
		}
		.list {
			.apiary {
				padding-left: 30px;
				color: #aaa;
				height: 30px;
				cursor: pointer;
			}
			.apiary:before {
				content: '';
				background-color: $activeColor;
				width: 5px;
				height: 5px;
				display: inline-block;
				margin-right: 10px;
			}
			.apiary:hover {
				color: $backgroundColor;
				background-color: $activeColor;
			}
			.active {
				color: $backgroundColor;
				background-color: $activeColor;	
			}
		}
		.apiary-info {
			width: 220px;
			height: 220px;
			background-color: $backgroundColor;
			bottom: 0;
			position: fixed;
			.title {
				position: relative;
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;	
				color: $secondGreyShade;
				margin-left: 20px;
			}
			.field {
				font-size: 13px;
				padding-left: 25px;
				color: $firstGreyShade;
				margin-top: 5px;
				span {
					margin-left: 5px;
				}
			}
			.options {
				margin-top: 10px;
				padding-left: 25px;
				.option {
					font-size: 12px;
					cursor: pointer;
					color: $firstGreyShade;
					margin-right: 5px;
				}
				.option:hover {
					color: $activeColor;
					text-decoration: none;
				}
			}
		}
	}
	.content {
		float: left;
		height: 100%;
		width: calc(100% - 220px);
		.beehives-container {
			padding-top: 37px;
			width: 100%;
			.beehive {
				position: relative;
				height: 35px;
				width: 60.62px;
				float: left;
				margin-top: 18px;
				a {
					cursor: pointer;
					display: block;
					width: 100%;
					height: 100%;
					svg {
						position: absolute;
						top: -18px;
						polygon {
						}
						polygon:hover {
							fill: $activeColor;
						}
					}
				}
			}
			.first {
				margin-left: 30px;
			}
			.even{
				height: 73px;
				.beehive {
					position: relative;
					width: 130px;
					height: 73px;
					background-color: red;
					float: left;
					a {
						margin-top: 50px;
						cursor: pointer;
						display: block;
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							top: -37px;
							width: 130px;
							height: 150px;
						}
					}
				}
			}
			.odd {
				height: 73px;
				margin-top: 37px;
				margin-left: 65px;
				.beehive {
					position: relative;
					width: 130px;
					height: 73px;
					background-color: red;
					float: left;
					a {
						margin-top: 50px;
						cursor: pointer;
						display: block;
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							top: -37px;
							width: 130px;
							height: 150px;
						}
					}
				}
			}
				
		}
		.info-panel {
			width: 100%;
			height: 220px;
			background-color: rgba(255, 255, 255, 0.5);
			bottom: 0;
			position: fixed;
			.create-beehive {
				position: relative;
				display: table;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;	
				color: $backgroundColor;
				margin: 0 0 0 20px;
				span {
					display: table-cell;
					padding-left: 25px;
				}
				a {
					color: #777;
					position: absolute;
					top: -15px;
					display: table-cell;
					font-size: 30px;
					font-weight: 900;
					vertical-align: middle;
				}
				a:hover {
					text-decoration: none;
					color: $activeColor;
				}
			}
			.beehive-info {
				margin-left: 20px;
				.field-display {
					margin-top: 5px;
					.field-label {
						display: inline-block;
					}
					.field-info {
						display: inline-block;
					}
				}
				.beehive-settings {
					margin-top: 10px;
					.link {
						margin-right: 5px;
						color: $backgroundColor
					}
					.link:hover {
						color: $activeColor	
					}
				}
			}
		}
	}
	.control-panel {
		background-color: #4bb;
		width: 200px;
		float: right;
	}
}